@font-face {
    font-family: 'iconfont';  /* Project id 3356523 */
    src: url('//at.alicdn.com/t/font_3356523_fya767s2ddd.woff2?t=1650981277061') format('woff2'),
         url('//at.alicdn.com/t/font_3356523_fya767s2ddd.woff?t=1650981277061') format('woff'),
         url('//at.alicdn.com/t/font_3356523_fya767s2ddd.ttf?t=1650981277061') format('truetype');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}