@font-face {
    font-family: 'iconfont';
    /* Project id 3356523 */
    src: url('//at.alicdn.com/t/font_3356523_6j97u5ok6ts.woff2?t=1650863648015') format('woff2'),
        url('//at.alicdn.com/t/font_3356523_6j97u5ok6ts.woff?t=1650863648015') format('woff'),
        url('//at.alicdn.com/t/font_3356523_6j97u5ok6ts.ttf?t=1650863648015') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}